{% load movie_tag %}
<!-- header -->
<header class="header">
    <div class="container-fluid px-lg-5">
        <!-- nav -->
        <nav class="py-4">
            <div id="logo">
                <h1><a href="index.html" class="editContent"
                       style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255);
                       font-size: 40px; background-color: rgba(0, 0, 0, 0);
                       font-family: &quot;Source Sans Pro&quot;, sans-serif;">
                    Сайт только о лучшем кино OnlyBestMovie</a>
                </h1>
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li class="active"><a href="/">Главная</a></li>
                <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle">Категории
                        <span class="fa fa-angle-down" aria-hidden="true">
                        </span>
                    </label>
                    <a href="#">Категории <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        {% get_categories as categories %}
                        {% for category in categories %}
                            <li><a href="/">{{ category.name }}</a></li>
                        {% endfor %}

<!--                        <li><a href="moviesingle.html">Фильмы</a></li>-->
<!--                        <li><a href="moviesingle.html">Сериалы</a></li>-->
<!--                        <li><a href="moviesingle.html">Франшизы</a></li>-->
                    </ul>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <span>{{ user.username }}</span>
                        <a href="{% url 'account_logout' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Выход
                        </a>
                    {% else %}
                        <a href="{% url 'account_login' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Вход
                        </a>
                        <a href="{% url 'account_signup' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Регистрация
                        </a>
                    {% endif %}
                </li>
                </ul>
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->
<!--/banner-->
<div class="banner-info">
<!--    body{background-image: https://media.kg-portal.ru/movies/a/avengers4/posters/avengers4_79.jpg}-->
    <p class="editContent">Лучший сайт о лучшем кино</p>
    <h3 class="mb-4 editContent">Yippee Ki Yay, киноманы</h3>
    <div class="ban-buttons">
    </div>
</div>
<!--// banner-inner -->


